<!DOCTYPE html>
<html>

<head>
    <title>WhatWeather</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="../../img/weatherIcon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get to your weather!</p>

        <form>
            <input placeholder="Search for location">
            <button>Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>

    {{>footer}}
    <script src="../../App.js"></script>
</body>

</html>