<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="../../img/weatherIcon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This page was created by me, Max De Burnay. It uses data from mapbox.com and weatherstack.com to fetch
            location/forecast data for the user.</p>
        <img src="../../img/PortfolioPic2.jpeg" class="portrait" />
    </div>
    {{>footer}}
</body>

</html>